@using IBLTermocasa.Blazor.Components.Selector
@using MudBlazor
@inherits IBLTermocasaComponentBase
<Modal @ref="ProductQuestionTemplateModal" Closing="@ProductQuestionTemplateModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true" >
        <ModalHeader>
            <ModalTitle> @L["Product"]</ModalTitle>
            <CloseButton Clicked="OnModalCancel" />
        </ModalHeader>
        <ModalBody>
            <MudSelect @ref="MudSelectComponent"
                       MultiSelectionTextFunc="@(new Func<List<string>, string>(GetMultiSelectionText))"
                       MultiSelection="IsMultiSelection"
                       T="string" Label="@ProductLabelSingle"
                       AdornmentIcon="@Icons.Material.Filled.Search"
                       AnchorOrigin="Origin.BottomCenter"
                       ValueChanged="OnGuidStringSelectedChanged"
            >
                @foreach (var GuidString in ComponentList.Select(x => x.Id.ToString()).ToList())
                {
                <MudSelectItem T="string" Value="@GuidString">@ComponentName(@GuidString)</MudSelectItem>
                }
            </MudSelect>
            <MudNumericField @bind-Value="@ProductQuestionTemplate.Order" InvertMouseWheel="true" 
                             Label="@L["Order"]" Variant="Variant.Filled" Min="@OrderMinValue" Max="@OrderMaxValue" />
            <MudTextField @bind-Value="@ProductQuestionTemplate.Name" Label="@L["Name"]" Variant="Variant.Filled" />
            <MudSwitch @bind-Checked="@ProductQuestionTemplate.Mandatory"
                       Class="mud-width-full"
                       Color="MudBlazor.Color.Primary">
                @L["Mandatory"]
            </MudSwitch>
        </ModalBody>
        <ModalFooter>
            <Button Color="Blazorise.Color.Secondary"
                    Clicked="OnModalCancel">
                @L["Cancel"]
            </Button>
            <Button Color="Blazorise.Color.Primary"
                    Clicked="OnModalSave">
                @L["Save"]
            </Button>
        </ModalFooter>

    </ModalContent>
</Modal>
@code {
    
    //
    
}