@using IBLTermocasa.RequestForQuotations
@inherits IBLTermocasaComponentBase


<EditForm Model="@SelectedRequestForQuotationItem">
    <Validations @ref="@RequestForQuotationItemValidations"
                 Mode="ValidationMode.Auto"
                 Model="@SelectedRequestForQuotationItem"
                 ValidateOnLoad="false">
        <Fields>
            <Field ColumnSize="ColumnSize.Is6">
                <FieldLabel RequiredIndicator="true">@L["Quantity"]</FieldLabel>
                <FieldBody>
                    <InputNumber class="input-quantity" @bind-Value="@SelectedRequestForQuotationItem.Quantity"></InputNumber>
                </FieldBody>
            </Field>
        </Fields>

        <DataGrid TItem="ProductItemDto"
                  Data="SelectedRequestForQuotationItem.ProductItems">
            <DataGridColumns>
                <DataGridColumn Caption="@L["Product"]">
                    <DisplayTemplate Context="templateContext">
                        @GetProductName(templateContext.ProductId)
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn Caption="@L["Order"]" Field="Order" />
                <DataGridColumn Caption="@L["Answers"]">
                    <DisplayTemplate Context="templateContext">
                        <DataGrid TItem="AnswerDto" Data="templateContext.Answers">
                            <DataGridColumns>
                                <DataGridColumn Caption="@L["Question"]">
                                    <DisplayTemplate Context="answerContext">
                                        @GetQuestionName(answerContext.QuestionId)
                                    </DisplayTemplate>
                                </DataGridColumn>
                                <DataGridColumn TItem="AnswerDto" Field="AnswerValue" Caption="@L["AnswerValue"]" />
                            </DataGridColumns>
                        </DataGrid>
                    </DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </Validations>
    <Fields>
        <Field>
            <Button Color="Color.Primary" Type="ButtonType.Submit" Size="Size.Small" Class="me-2" Clicked="HandleValidSubmit">@L["Save"]</Button>
        </Field>
        <Field>
            <Button Color="Color.Secondary" Clicked="HandleCancel" Size="Size.Small" Class="me-2">@L["Cancel"]</Button>
        </Field>
    </Fields>
</EditForm>

<Modal @ref="EditQuestionTemplateModal"
       Closing="@EditQuestionTemplateModal.CancelClosingModalWhenFocusLost"
       Animated="true"
       RenderMode="ModalRenderMode.LazyReload">
    <ModalContent Centered="true" Size="@ModalSize.ExtraLarge">
        <ModalHeader>
            <ModalTitle>Template Domanda</ModalTitle>
            <CloseButton Clicked="CloseEditRequestForQuotationItemModalAsync" />
        </ModalHeader>
        @*<ModalBody>
            <QuestionTemplateInput
                IsNew="true"
                SelectedQuestionTemplate="@SelectedQuestionTemplate"
                OnQuestionTemplateCancel="@CloseEditRequestForQuotationItemModalAsync"
                OnQuestionTemplateSaved="@OnQuestionTemplateSaved"
            >
                
            </QuestionTemplateInput>
        </ModalBody>*@
    </ModalContent>
</Modal>
@code {
    
}