@using IBLTermocasa.Common
<div class="border-bottom pb-3 mb-3">
    <small class="text-muted">Website</small>
    <h5 class="mt-0 mb-1">
        @if(SocialInfo != null && SocialInfo.SocialItems.Find(x => x.SocialType == SocialType.WEBSITE) != null)
        {
            <a href="@SocialInfo.ResolveSocialUrl(SocialType.WEBSITE)" target="_blank" class="text-dark">
                @SocialInfo.ResolveSocialUrl(SocialType.WEBSITE)
            </a>
        }
        else
        {
            <span class="text-muted">No website</span>
        }
    </h5>
    <small class="text-muted">Social Links</small>
    <div>
        @if(SocialInfo != null && SocialInfo.SocialItems.Count > 0)
        {
            IEnumerable<SocialType> socialTypesExceptWebsite = ((SocialType[])Enum.GetValues(typeof(SocialType)))
                .Where(x => x != SocialType.WEBSITE);
            foreach (var socialType in socialTypesExceptWebsite)
            {
                var social = SocialInfo.SocialItems.Find(x => x.SocialType == socialType);
                if (social != null)
                {
                    <a href="@SocialInfo.ResolveSocialUrl(social.SocialType)" target="_blank" class="">
                        <i class="@SocialInfo.ResolveSocialIcon(social.SocialType) fs-4 px-1"></i>
                    </a>
                }
                else
                {
                        <i class="@SocialInfo.ResolveSocialIcon(socialType) fs-4 px-1 text-muted"></i>
                }
            }
        }
        else
        {
            <span class="text-muted">No social links</span>
        }@*
        <a href="@SocialInfo.ResolveSocialUrl(SocialType.FACEBOOK)" class="">
            <i class="fab fa-facebook fs-4 px-1 text-muted"></i>
        </a>
        <a href="@SocialInfo.ResolveSocialUrl(SocialType.LINKEDIN)" class="">
            <i class="fab fa-linkedin fs-4 px-1 text-muted"></i>
        </a>
        <a href="@SocialInfo.ResolveSocialUrl(SocialType.INSTAGRAM)" class="">
            <i class="fab fa-instagram fs-4 px-1 text-muted"></i>
        </a>
        <a href="@SocialInfo.ResolveSocialUrl(SocialType.TWITTER)" class="">
            <i class="fab fai-twitter fs-4 px-1 text-muted"></i>
        </a>*@
    </div>
</div>

@code {
    [Parameter] public SocialInfoDto SocialInfo { get; set; }
}