@page "/"
@using MudBlazor
@inherits IBLTermocasaComponentBase

@code {
    private bool arrows = true;
    private bool bullets = false;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}

<MudPaper Class="pa-4">
    <MudStack Row="true" AlignItems="AlignItems.Center">
        <MudImage Src="https://termocasasrl.it/img/logo.png"/>
    </MudStack>
    <MudStack Row="true" AlignItems="AlignItems.Center">
        <MudText Class="pa-4" Typo="Typo.h6">Benvenuto sul Portale Termocasa Platform</MudText>
    </MudStack>
    <MudStack Row="true" AlignItems="AlignItems.Center">
        <MudText Typo="Typo.body1">"Termocasa", un'azienda leader nel settore dell'edilizia che produce una vasta gamma di prodotti, tra cui cassonetti, spallette, cornici e lavorazioni su commessa.</MudText>
    </MudStack>
    <MudStack Row="true">
    @if (!CurrentUser.IsAuthenticated)
    {
        <a href="/authentication/login" class="btn btn-primary mb-1">
            @L["Login"]
        </a>
    }
    </MudStack>
</MudPaper>

<MudPaper Class="pa-4">
    <MudText Typo="Typo.h4">I nostri prodotti</MudText>
    <MudCarousel Class="mud-width-full" Style="height:400px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
        <MudCarouselItem Transition="transition" >
                <MudStack AlignItems="AlignItems.Center" Class="d-flex" Style="height:90%">
                    <MudText Class="mx-auto my-auto" Typo="Typo.subtitle1">Cassonetto Frontale</MudText>
                    <MudImage Class="mx-auto my-auto" Src="https://termocasasrl.it/share/common/cassonettofrontale/cassforntale.png"/>
                </MudStack>
        </MudCarouselItem>
        <MudCarouselItem Transition="transition">
            <div class="d-flex" style="height:90%">
                <MudImage Class="mx-auto my-auto" Src="https://termocasasrl.it/share/common/cassonettostandard/cassonetto.png"/>
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="transition">
            <div class="d-flex" style="height:90%">
                <MudImage Class="mx-auto my-auto" Src="https://termocasasrl.it/share/common/cassonettofrangisole/cassfrangisole.png"/>
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="transition">
            <div class="d-flex" style="height:90%">
                <MudImage Class="mx-auto my-auto" Src="https://termocasasrl.it/share/common/cassonettotermoserranda/cassonetto.jpg"/>
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="transition">
            <div class="d-flex" style="height:90%">
                <MudImage Class="mx-auto my-auto" Src="http://www.termocasasrl.it/share/common/cassonettosecurity/security.png"/>
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="transition">
            <div class="d-flex" style="height:90%">
                <MudImage Class="mx-auto my-auto" Src="https://termocasasrl.it/share/common/cornici/cornicemis.png"/>
            </div>
        </MudCarouselItem>
    </MudCarousel>
</MudPaper>

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider />