@page "/quotation/{id}"
@using IBLTermocasa.BillOfMaterials
@using IBLTermocasa.Localization
@using IBLTermocasa.Quotations
@using IBLTermocasa.RequestForQuotations
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.Http.Client
@using MudBlazor
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Volo.Abp.AspNetCore.Components.Web.Theming.Toolbars
@inherits IBLTermocasaComponentBase
@inject IUiMessageService UiMessageService
@inject AbpBlazorMessageLocalizerHelper<IBLTermocasaResource> LH
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject IQuotationsAppService QuotationsAppService
@inject NavigationManager NavigationManager
@inject IRequestForQuotationsAppService RequestForQuotationsAppService
@inject IBillOfMaterialsAppService BillOfMaterialsAppService
<PageHeader Title="@L["Products"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">
</PageHeader>
@if(IsLoading)
{
<div class="text-center">
    <MudProgressCircular>
        <div class="text-center">
            <MudTypography Variant="Variant.H6">@L["Loading"]</MudTypography>
        </div>
    </MudProgressCircular>
</div>
}
else
{
    <MudForm @ref="formQuotation"
             IsValid=" successValidationQuotation"
             Errors="errorsValidationQuotation"
             Model="typeof(QuotationDto)">
        <MudGrid>
            <MudItem xs="12" sm="12">
                <MudPaper Class="pa-2 mt-12">
                    <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" DisableElevation="true" OnClick="@OnSentQuotation">Invia Preventivo</MudButton>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="12">
                <MudPaper Class="pa-4">
                    <MudText Typo="Typo.h5">Dati Richiesta Prventivo e Distinta</MudText>
                    <MudTextField @bind-Value="BillOfMaterialsInput.BomNumber"
                                  Label="@L["BomNumber"]"
                                  ReadOnly="true"/>
                    <MudTextField @bind-Value="BillOfMaterialsInput.Status"
                                  Label="@L["BomStatus"]"
                                  ReadOnly="true"/>
                    <MudTextField @bind-Value="BillOfMaterialsInput.CreationTime"
                                  Label="@L["BomDate"]" Format="dd/MM/yyyy"
                                  ReadOnly="true"/>
                    <MudTextField @bind-Value="RfqInput.QuoteNumber"
                                  Label="@L["RfqNumber"]"
                                  ReadOnly="true"/>
                    <MudTextField @bind-Value="BillOfMaterialsInput.RequestForQuotationProperty.OrganizationName"
                                  Label="@L["Organization"]"
                                  ReadOnly="true"/>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="12">
                @* ************************* Main Info on left side ************************* *@
                <MudPaper Class="pa-4">

                    <MudText Typo="Typo.h5">Dati Prventivo</MudText>
                    <MudTextField @bind-Value="QuotationInput.Code"
                                  Label="Numero"
                                  ReadOnly="true"/>
                    <MudTextField @bind-Value="QuotationInput.Status"
                                  Label="Stato"
                                  ReadOnly="true"/>
                    <MudTextField @bind-Value="QuotationInput.CreationTime"
                                  Label="Data Creazione" Format="dd/MM/yyyy"
                                  ReadOnly="true"/>
                    <MudTextField @bind-Value="QuotationInput.SentDate"
                                  Label="Data Invio" Format="dd/MM/yyyy"
                                  ReadOnly="false"/>
                    <MudTextField @bind-Value="QuotationInput.QuotationValidDate"
                                  Label="Valido Fino" Format="dd/MM/yyyy"
                                  ReadOnly="false"/>
                    <MudTextField @bind-Value="QuotationInput.ConfirmedDate"
                                  Label="Data Conferma" Format="dd/MM/yyyy"
                                  ReadOnly="false"/>
                    <MudCheckBox @bind-Value="QuotationInput.DepositRequired" Label="Richiesto Acconto"/>
                    <MudTextField @bind-Value="QuotationInput.DepositRequiredValue"
                                  Label="Acconto Richiesto"
                                  ReadOnly="@QuotationInput.DepositRequired"/>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudForm>
}

@code {
    //Fast code here otherwise into cs file
}