@using System.Globalization
@using IBLTermocasa.BillOfMaterials
@using IBLTermocasa.Components
@using DataGridEditMode = MudBlazor.DataGridEditMode
@using MudBlazor
@using IBLTermocasa.Blazor.Components.Product
@inherits IBLTermocasaComponentBase
@inject IComponentsAppService ComponentsAppService
@if(BillOfMaterials == null)
{
    <div class="text-center">
        <MudProgressCircular>
            <div class="text-center">
                <MudTypography Variant="Variant.H6">@L["Loading"]</MudTypography>
            </div>
        </MudProgressCircular>
    </div>
    return;
}

<MudForm   @ref="formBillOfMaterials"
           IsValid=" successValidationBillOfMaterials"
           Errors="errorsValidationBillOfMaterials"
           Model="BillOfMaterials" >
    <MudGrid>
        <MudItem xs="12" sm="12">
            <MudPaper Class="pa-2 mt-12">
                <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" DisableElevation="true" OnClick="@(()=>formBillOfMaterials.Validate())">@L["Validate"]</MudButton>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12">
            @* ************************* Main Info on left side ************************* *@
            <MudPaper Class="pa-4">
                <MudTextField @bind-Value="BillOfMaterials.BomNumber"
                              Label="@L["BomNumber"]"
                              ReadOnly="true"/>
                <MudTextField @bind-Value="BillOfMaterials.Status"
                              Label="@L["BomStatus"]"
                              ReadOnly="true"/>
                <MudTextField @bind-Value="BillOfMaterials.CreationTime"
                              Label="@L["BomDate"]" Format="dd/MM/yyyy"
                              ReadOnly="true"/>
                <MudTextField @bind-Value="BillOfMaterials.RequestForQuotationProperty.RfqNumber"
                              Label="@L["RfqNumber"]"
                              ReadOnly="true"/>
                <MudTextField @bind-Value="BillOfMaterials.RequestForQuotationProperty.OrganizationName"
                              Label="@L["Organization"]"
                              ReadOnly="true"/>
                <MudTextField @bind-Value="BillOfMaterials.RequestForQuotationProperty.RfqDateDocument"
                              Label="@L["RfqDateDocument"]" Format="dd/MM/yyyy"
                              ReadOnly="true"/>
                <MudTextField @bind-Value="BillOfMaterials.RequestForQuotationProperty.RfqDateDocument"
                              Label="@L["RfqDateDocument"]" 
                              ReadOnly="true"/>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12">
            <MudPaper Class="pa-4">
                @* ************************* Tab  on right side ************************* *@
                <MudTabs Outlined="true" MudBlazor.Position="@MudTabsPosition" Rounded="true" Border="true"
                         ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-2">
                    <MudTabPanel Text="@L["BillOfMaterialsTab"]">

                        <MudPaper Class="pa-2 mt-12">
                            <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" DisableElevation="true" OnClick="@OnCalculateConsumption">Calcola Consumi</MudButton>
                        </MudPaper>
                        <MudPaper>
                            <MudDataGrid @ref="BillOfMaterialsMudDataGrid" T="BillOfMaterialsMudDataGridItem" MultiSelection="false" Items="@BillOfMaterialsMudDataGridItems" Filterable="true"
                                         Hideable="true" Groupable="true" GroupExpanded="false" GroupClassFunc="GroupClassFunc" EditMode="MudBlazor.DataGridEditMode.Cell" ReadOnly="false" CommittedItemChanges="@CommittedItemChanges">
                                <Columns>
                                    <PropertyColumn Property="x => x.RequestForQuotationItemQuantity" Title="@L["Quantity"]" IsEditable="false"/>
                                    <PropertyColumn Property="x => x.ProductItemName" Title="@L["Product"]"/>
                                    <PropertyColumn Property="x => x.BomComponentName" Title="@L["Component"]"/>
                                    <TemplateColumn Title="Position">
                                        <EditTemplate>
                                            <MudSelectMaterial Context="@context" MaterialList="MaterialDictionary[context.Item.BomComponentId]" />
                                        </EditTemplate>
                                    </TemplateColumn>
                                    <PropertyColumn Property="x => x.MaterialPrice" Title="@L["Price"]" IsEditable="false"  Format="C2" Culture="cultureInfo"/>
                                    <PropertyColumn Property="x => x.MeasureUnit" Title="@L["MeasureUnitShort"]" IsEditable="false"/>
                                    <PropertyColumn Property="x => x.Quantity" Title="@L["Quantity"]" IsEditable="true"   Format="0.##"/>
                                    <PropertyColumn Property="x => x.Price" Title="@L["Price"]" IsEditable="false"  Format="F2"/>
                                </Columns>
                            </MudDataGrid>
                        </MudPaper>
                    </MudTabPanel>
                </MudTabs>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudForm>

@code {
    private readonly CultureInfo cultureInfo = new CultureInfo("it-IT");


}